
# ignore byte-compiled / optimized / DLL python files
*.py[cod]

# ignore directories where the output of the test run is stores
*test_run/

# ignore file with user defined options for the testing suite
*test_data_user.py

# ignore data from pycharm
.idea/
venv/
